
{% extends 'base.html' %}
{% block 'content' %}
<h2>Via Template Includes</h2>
<p>
    This is some simple, untranslated, page specific content and layout to show that there is no need to duplicate layout.  This
    appears before the translated text.
</p>
{% with language=lang|default:"en" %}
    {% with template_name="via_includes/index."|add:language|add:".html" %}
        Translation included from: {{ template_name }}<br>
        {% include template_name %}
    {% endwith %}
{% endwith %}
<p>
    And this appears after the translated text.
</p>
{% endblock 'content' %}
